@import "./globals.scss";

.dashboard {
    display: flex;
    .sidebar {
        width: 5%;
        .header {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 999;
            padding: 1rem 2%;
            background-color: $background-c;

            &__container {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .profile {
                    display: flex;
                    gap: 0.5rem;

                    .img {
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .text {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        gap: 0.5rem;
                        h2 {
                            font-size: 1.5rem;
                            letter-spacing: 2px;
                        }

                        p {
                            font-size: 1.3rem;
                            letter-spacing: 2px;
                        }
                    }
                }

                .header__actions {
                    display: flex;
                    gap: 3rem;

                    .search {
                        display: flex;
                        padding: 1rem;
                        background-color: #efefef;
                        border-radius: 12px;
                        align-items: center;
                        gap: 1rem;

                        input {
                            width: 100%;
                            height: 50px;
                            outline: none;
                            border: none;
                            padding: 0.5rem;
                            background-color: transparent;
                            font-size: 1.3rem;
                            color: $text-c;
                            letter-spacing: 2px;
                        }
                    }

                    .logout__btn {
                        display: flex;
                        align-items: center;
                        gap: 0.5rem;
                        cursor: pointer;
                    }
                }
            }
        }

        .nav {
            position: fixed;
            top: 50%;
            transform: translateY(-50%);
            width: 8%;
            display: grid;
            place-items: center;
            background-color: $background-c;
            height: 100%;

            &__list {
                display: grid;
                place-items: center;
                gap: 2rem;
                list-style: none;
                margin-top: 5rem;
                .nav__item {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    padding: 1rem;
                    border-radius: 12px;
                    width: 100%;
                    transition: all 0.5s ease-in-out;
                    &.active {
                        background-color: $primary-c;
                        color: $background-c;
                    }

                    .nav__link {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 0.5rem;

                        .icon {
                            font-size: 2rem;
                        }

                        .name {
                            font-size: 1.1rem;
                        }
                    }
                }
            }
        }
    }

    .aside {
        width: 100%;
        padding: 4rem;
        background-color: #efefef;
        height: 100vh;

        .data-barang {
            .barang__container {
                padding: 1rem 2%;

                .actions {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 2rem;

                    .title {
                        h1 {
                            font-size: 2rem;
                            letter-spacing: 2px;
                        }
                    }

                    .form {
                        display: flex;
                        width: 150px;
                        background-color: $primary-c;
                        color: $background-c;
                        height: 50px;
                        display: grid;
                        place-items: center;
                        border-radius: 12px;
                        font-size: 1.3rem;
                    }
                }

                .barang-table {
                    font-family: Arial, Helvetica, sans-serif;
                    border-collapse: collapse;
                    width: 100%;

                    th,
                    td {
                        border: 1px solid #ddd;
                        padding: 16px;
                        line-height: 1.5;
                    }

                    tr {
                        .action__btn {
                            display: flex;
                            justify-content: space-around;
                        }

                        td {
                            font-size: 1.4rem;
                        }

                        th {
                            padding-top: 12px;
                            padding-bottom: 12px;
                            font-size: 1.5rem;
                            text-align: left;
                            background-color: $primary-c;
                            color: white;
                        }
                    }
                }

                .modal-overlay {
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.5);
                    backdrop-filter: blur(10px);
                    z-index: 9999;
                    display: grid;
                    place-items: center;

                    .modal-content {
                        padding: 1rem;
                        width: 30%;
                        height: 50%;
                        background-color: $background-c;
                        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
                        display: grid;
                        place-items: center;
                        border-radius: 12px;

                        h2 {
                            font-size: 2rem;
                            letter-spacing: 2px;
                        }

                        p {
                            font-size: 1.3rem;
                        }

                        .modal-actions {
                            display: flex;
                            gap: 1rem;

                            button {
                                width: 100px;
                                height: 50px;
                                background-color: $primary-c;
                                color: $background-c;
                                border-radius: 12px;
                                font-size: 1.3rem;
                                border: none;
                            }
                        }
                    }
                }

                .toolbar {
                    display: flex;
                    flex-direction: column;
                    gap: 3rem;
                    margin-bottom: 3rem;
                    input {
                        width: 20%;
                        padding: 1.5rem;
                        background-color: $primary-c;
                        border-radius: 12px;
                        font-size: 1.3rem;
                        border: none;
                        color: $background-c;

                        &::placeholder {
                            color: $background-c;
                            opacity: 0.8;
                        }
                    }

                    .total {
                        h2 {
                            font-size: 2rem;
                            letter-spacing: 2px;
                        }
                    }
                }
            }
        }

        .form-barang {
            display: flex;
            flex-direction: column;

            .barang__container {
                .form-group {
                    margin-bottom: 1.5rem;

                    label {
                        font-size: 1rem;
                        color: #666;
                        margin-bottom: 0.5rem;
                        display: block;
                    }

                    input {
                        width: 100%;
                        padding: 0.75rem;
                        border-radius: 5px;
                        border: 1px solid #ddd;
                        background-color: #f8f8f8;
                        font-size: 1rem;
                        transition: border 0.3s ease;
                        color: $text-c;

                        &:focus {
                            outline: none;
                            border-color: #3498db;
                        }

                        .input-disabled {
                            background-color: #e9ecef;
                            cursor: not-allowed;
                        }
                    }
                }

                button {
                    width: 100%;
                    padding: 0.75rem;
                    border-radius: 5px;
                    border: none;
                    background-color: #3498db;
                    color: #fff;
                    font-size: 1rem;
                    cursor: pointer;
                    transition: background-color 0.3s ease;

                    &hover {
                        background-color: #2980b9;
                    }
                }
            }
        }

        .transaksi {
            .transaksi__container {
                padding: 1rem 2%;

                .actions {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 20px;

                    .title h1 {
                        font-size: 2rem;
                        color: #333;

                        @media only screen and (max-width: 1366px) {
                            font-size: 1.1rem;
                        }
                    }

                    .form .btn {
                        padding: 10px 15px;
                        background-color: #28a745;
                        color: white;
                        border: none;
                        border-radius: 5px;
                        cursor: pointer;
                        transition: background-color 0.3s;

                        &:hover {
                            background-color: #218838;
                        }
                    }
                }

                .toolbar {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 20px;

                    input {
                        padding: 10px;
                        border-radius: 5px;
                        width: 300px;
                        border: 1px solid #ddd;
                        background-color: #efefef;
                        color: $text-c;

                        &::placeholder {
                            color: #333;
                            letter-spacing: 2px;
                        }

                        &:focus {
                            outline: none;
                        }
                    }
                }

                .barang-table {
                    width: 100%;
                    border-collapse: collapse;

                    th,
                    td {
                        border: 1px solid #ddd;
                        padding: 10px;
                        text-align: left;
                    }

                    th {
                        font-weight: bold;
                        font-size: 2rem;
                        background-color: $primary-c;
                        color: $background-c;
                        padding: 1rem;

                        @media only screen and (max-width: 1366px) {
                            font-size: 1.2rem;
                        }
                    }

                    td {
                        font-size: 1.5rem;

                        @media only screen and (max-width: 1366px) {
                            font-size: 1.1rem;
                        }
                    }

                    .action__btn {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;

                        .btn {
                            padding: 1rem;
                            background-color: #007bff;
                            color: white;
                            border: none;
                            border-radius: 5px;
                            cursor: pointer;
                            transition: background-color 0.3s;
                            display: grid;
                            place-items: center;
                        }
                    }
                }
            }
        }

        .form__transaksi {
            .container {
                max-width: 600px;
                margin: 0 auto;
                padding: 20px;
                background-color: #f9f9f9;
                border-radius: 8px;
                box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

                form {
                    display: flex;
                    flex-direction: column;
                }

                label {
                    margin-bottom: 5px;
                    font-weight: bold;
                }

                input[type="text"],
                input[type="date"],
                input[type="number"],
                textarea,
                select {
                    padding: 10px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    margin-bottom: 15px;
                    font-size: 16px;
                }

                button {
                    padding: 10px 15px;
                    background-color: #007bff;
                    color: white;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                    transition: background-color 0.3s;
                }

                button:hover {
                    background-color: #0056b3;
                }

                input[readonly] {
                    background-color: $primary-c;
                    cursor: not-allowed;
                }

                div {
                    margin-bottom: 20px;
                }
            }
        }
    }
}
